services:
  web:
    networks:
      - proxy
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${PROXY_PRODUCTION_ROUTER}.rule=Host(`${PRODUCTION_DOMAIN}`)"
      - "traefik.http.services.${PROXY_PRODUCTION_ROUTER}.loadbalancer.server.port=80"
      - "traefik.http.routers.${PROXY_PRODUCTION_ROUTER}.service=${PROXY_PRODUCTION_ROUTER}"
      - "traefik.http.routers.${PROXY_PRODUCTION_ROUTER}.entrypoints=websecure" # Replace 'websecure' with 'web' if you don't need SSL

      # Enable SSL for main AtroPIM instance
      - "traefik.http.routers.${PROXY_PRODUCTION_ROUTER}.tls=true"
      - "traefik.http.routers.${PROXY_PRODUCTION_ROUTER}.tls.certresolver=letencrypt"

      # Uncomment to enable testing AtroPIM instance
#      - "traefik.http.routers.${PROXY_TESTING_ROUTER}.rule=Host(`${TESTING_DOMAIN}`)"
#      - "traefik.http.services.${PROXY_TESTING_ROUTER}.loadbalancer.server.port=80"
#      - "traefik.http.routers.${PROXY_TESTING_ROUTER}.service=${PROXY_TESTING_ROUTER}"
#      - "traefik.http.routers.${PROXY_TESTING_ROUTER}.entrypoints=websecure" # Replace 'websecure' with 'web' if you don't need SSL
#      # Enable SSL for testing AtroPIM instance
#      - "traefik.http.routers.${PROXY_TESTING_ROUTER}.tls=true"
#      - "traefik.http.routers.${PROXY_TESTING_ROUTER}.tls.certresolver=letencrypt"
  reverse_proxy:
    image: traefik:v3.6
    # Remove if you don't need SSL from Lets Encrypt
    command:
      - --certificatesResolvers.letencrypt.acme.email=${LETS_ENCRYPT_EMAIL}
    ports:
      - "80:80"
     # Remove if you don't need SSL
      - "443:443"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      - traefik-certs:/certs
    networks:
      - proxy

volumes:
  # Uncomment if you want to store AtroCore and DB files in data/ folder
#  web-data:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: ./data/web/
#  db-data:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: ./data/db/
  traefik-certs:

networks:
  proxy:
    name: proxy
    external: false